padding: 30px;
display: inline-block;
}
nav a {
text-decoration: none;
}
main {
display: grid;
grid-template-columns: 15% 1fr;
}
.grid-left {
background-color: blueviolet;
padding: 20px;
}
.grid-left img {
width: 100px;
}
footer {
padding: 30px;
background-color: gray;
color: #fff;
text-align: center;
}